<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>마이페이지 수정하기</title>
</head>
<body>
	<h1>마이페이지 수정하기</h1>
	<form th:action="@{modifyProfile}" th:object="${member}" method="post">
		<!-- id는 소비자가 변경할 수 없는 부분이기 때문에 화면에 보이지 않을 뿐 
		member라는 변수명에 member_id가 들어있음 -->
		아이디(회원가입순번) : <p th:text="*{member_id}"></p><br>
		이름 : <input type="text" th:field="*{member_name}">
		나이 : <input type="text" th:field="*{member_age}">
		번호 : <input type="text" th:field="*{member_phone}">
		<button>수정하기</button>
	</form>
</body>
</html>