<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>ThymeLeaf</h1>

    <h3>1. 템플릿 엔진</h3>
    <pre>
        템플릿 양식과 특정 데이터 모델에 따른 입력 자료를 합성하여
        결과 문서(응답 화면)를 출력하는 것

        -> 만들어둔 화면(html)에 데이터를 추가하여 하나의 html로 만들어서 응답
        (jsp 템플릿 엔진 중 하나)
        <a href="https://www.thymeLeaf.org/">타임리프 홈페이지</a>
    </pre>

    <h3>2. thymeLeaf</h3>
    <pre>
        웹 및 독립 실행형 환경 모두를 위한 최신 서버 측 Java 템플릿 엔진
        - 웹 실행 == 요청시 포워드 되는 화면
        - 독립 실행 == html 파일 실행(인터넷 연결 x)

        HTML 파일에서 th(thymeLeaf) 속성을 이용해
        컨트롤러부터 전달받은 데이터를 이용해 동적 페이지를 만들 수 있음

        Spring Boot 에서는 jsp가 아닌 ThymeLeaf 사용을 권장

        [사용법]
        html 예시
        <!DOCTYPE html> 밑에 작성된
        <html xmlns:th="https://www.thymeLeaf.org/"> 작성 후 사용이 가능 
        https://www.thymeLeaf.org/ 이 주소를 가져오는데 th를 사용해서 작성

        -> xmlns:별칭="템플릿 가져올 주소"
    </pre>

    <ol>
        <li><a href="/example/ex1">타임리프 예제 1</a></li>
        <li>
        	<form action="/example/ex2" method="post">
        	<h4>타임리프 예제 2</h4>
        	이름 : <input type="text" name="inputName"><br>
        	나이 : <input type="number" name="inputAge"><br>
        	색상 : 
        	Red : <input type="checkbox" name="color" value="Red">
        	Blue : <input type="checkbox" name="color" value="Blue">
        	Green : <input type="checkbox" name="color" value="Green">
        	<button>제출하기</button>
        	<br>
        	</form>
        </li>
        <li>
        	<a href="/example/ex3">타임리프 예제3</a>
        </li>
    </ol>
    <th:block th:replace="~{layout/footer}"></th:block>
</body>
</html>